.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.logo_container {
  width: 50px;
}
.logo_container img {
  width: 100%;
  height: auto;
}

.navbar {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 30px;
}

.navbar nav {
  flex-basis: 50%;
  flex-grow: 0.8;
}

.navbar ol {
  list-style-type: none;
}

.navbar ol > li {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

.navbar ol > li:last-child {
  margin-right: 0;
}

.link_active::after {
  opacity: 1 !important;
}

.navbar ol > li:hover::after {
  opacity: 0.5;
}

.navbar ol > li::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/images/paw.png');
  opacity: 1;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
}

.navbar ol > li > a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .logo_container {
    width: 125px;
  }

  .navbar ol > li::after {
    opacity: 0;
    left: 50%;
    top: 100%;
    margin-left: -10px;
    margin-top: 0;
  }

  .navbar ol > li > a {
    font-size: 1.2rem;
  }
}
