.link {
  padding: 14px 20px;
  font-size: 0.8rem !important;
}

.link:hover:not(.active) {
  background-color: #f4f4f4;
}

.rounded {
  border: 3px solid #000;
  border-radius: 10px;
}

.outlined {
  border: 3px solid #000;
  border-radius: 14px;
  background-color: transparent;
}

.active {
  background-color: #000;
  color: #fff;
}
