.header {

}

.logo_container {
  width: 150px;
}
.logo_container img {
  width: 100%;
  height: auto;
}

.navbar {

}

.navbar ol {
  list-style-type: none;
}

.navbar ol > li {
  display: inline-block;
}

.navbar ol > li > a {
  padding: 5px 10px;
}