.container {
  width: 100%;
}

.main_bg {
  width: 100%;
  background-image: url("../assets/images/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -160px;
}

.main_bg img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main_bg {
    height: 75vh;
  }
}
